{% extends 'page/masterPage.html' %}

{% load static %}


{% block title %}
    Conócenos
{% endblock title %}
    

{% block content %}

<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="about-img">
                    <img src="{% static 'img/Logogrande_.perutogethertravel.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="about-content">
                    <h2>Nosotros</h2>
                    <p>“Somos PERÚ TOGETHER TRAVEL una agencia de viajes y turismo con un gran prestigio en la costa norte del Perú. Desde la Ciudad de Trujillo hace 13 años nos propusimos superar todos los estándares de calidad y puntualidad en servicios turísticos, ofreciendo atención de alto nivel al Perú y el Mundo. Buscamos ganar una total confianza con nuestros clientes, demostrando cumplimiento, seguridad y excelencia en nuestros servicios. Contamos con un gran equipo humano y desarrollamos de manera responsable nuestro trabajo, cumpliendo con los servicios ofrecidos, precios competitivos y una grata experiencia que jamás olvidarán.”
                        <br>
<br>
                        ¡Trayectoria y Experiencia!                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

    
{% endblock content %}
    