{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>FREE  BOOTSTRAP TEMPLATE - Relax </title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="{% static 'bs-relax/assets/css/bootstrap.css' %} " rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="{% static 'bs-relax/assets/css/font-awesome.min.css' %} " rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="{% static 'bs-relax/assets/css/font-awesome-animation.css' %} " rel="stylesheet" />
     <!--PRETTYPHOTO MAIN STYLE -->
    <link href="{% static 'bs-relax/assets/css/prettyPhoto.css' %} " rel="stylesheet" />
       <!-- CUSTOM STYLE CSS -->
    <link href="{% static 'bs-relax/assets/css/style.css' %} " rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
</head>
<body >
         <!-- NAV SECTION -->
         <div class="navbar navbar-inverse navbar-fixed-top">
       
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">YOUR LOGO</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if request.path == '/index' %}active {% endif %}"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="{% if request.path == '/agencia' %}active {% endif %}"><a href="{% url 'agencia' %}">Agencia</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nosotros <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'conocenos' %}">Conócenos</a></li>
                            <li><a href="{% url 'contactanos' %}">Contáctanos</a></li>
                        </ul>
                    </li>
                    
                    {% if user.is_authenticated %}
                        <li class="{% if request.path == '/misPaquetes' %}active {% endif %}"><a href="{% url 'misPaquetes' %}">Mis Paquetes</a></li>  
                    {% else %}
                        <li class="{% if request.path == '/login' %}active {% endif %}"><a href="{% url 'login' %}">Inicio de Sesion</a></li>
                    {% endif %}
                    
                    {% if user.is_authenticated and  user.is_staff == True %}
                        <li class="{% if request.path == '/login' %}active {% endif %}"><a href="{% url 'panelControl' %}">Panel de Control</a></li>
                    {% endif %}
                        
                </ul>
            </div>
           
        </div>
    </div>
     <!--END NAV SECTION -->
    
    <!--HOME SECTION-->
    <div id="home-sec">

   
    <div class="container"  >
        <div class="row text-center">
            
        </div>
    </div>
    
    <!--END HOME SECTION-->  

    <!--SERVICES SECTION-->    
    <section  id="services-sec">
        <div class="container">
            
        </div>
    </section>
    <!--END SERVICES SECTION-->
    
    <!--FOOTER SECTION -->
    <div id="footer">
        2014 www.yourdomain.com | All Right Reserved  
         
    </div>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="{% static 'bs-relax/assets/plugins/jquery-1.10.2.js' %} "></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="{% static 'bs-relax/assets/plugins/bootstrap.min.js' %} "></script>  
     <!-- ISOTOPE SCRIPT   -->
    <script src="{% static 'bs-relax/assets/plugins/jquery.isotope.min.js' %} "></script>
    <!-- PRETTY PHOTO SCRIPT   -->
    <script src="{% static 'bs-relax/assets/plugins/jquery.prettyPhoto.js' %} "></script>    
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'bs-relax/assets/js/custom.js' %}"></script>

</body>
</html>
