{% extends 'management/masterPage.html' %}

{% load static %}


{% block title %}
    {{page_title}}
{% endblock title %}


{% block content %}

    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{page_title}}</h1>
          </div><!-- /.col -->
          
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Reporte de Mas Visitados</h3>
                  <a href="javascript:void(0);">Ver Reporte</a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Titulo</th>
                    <th>Precio</th>
                    <th>Visitas</th>
                    <th>More</th>
                  </tr>
                  </thead>
                  <tbody>
                    {{set}}
                    {% for obj in listaVisitados %}
                            
                        <tr>
                            <td> {{ forloop.counter }}°</td>
                            <td>
                            <img src="{{obj.get_imageAvatar}}" alt="Avatar de {{obj.tituloPaquete}}"  width="400" height="300" class="img-circle img-size-32 mr-2">
                                {{obj.tituloPaquete}}
                            </td>
                            <td>{{obj.precioPaquete}}</td>
                            <td>
                                {{obj.visitasPaquete}}
                            </td>
                            <td>
                            <td>
                            <a href="#" class="text-muted">
                                <i class="fas fa-eye"></i>
                            </a>
                            </td>
                        </tr>
                    {% endfor %}
                        
                    
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->

            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Reporte de recien Añadidos</h3>
                  <a href="javascript:void(0);">Ver Reporte</a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Paquete</th>
                    <th>Precio</th>
                    <th>Cant. de días</th>
                    <th>Detalle</th>
                  </tr>
                  </thead>
                  <tbody>
                  
                  {% for obj in listaNuevos %}
                    <tr>
                      <td>{{forloop.counter}}°</td>
                    <td>
                      <img src="{{obj.get_imageAvatar}}" alt="Avatar de {{obj.tituloPaquete}}"  width="400" height="300" class="img-circle img-size-32 mr-2">
                      {{obj.tituloPaquete}}
                    </td>
                    <td>{{obj.precioPaquete}}</td>
                    <td>
                      {{obj.nDiasPaquete}}
                    </td>
                    <td>
                      <a href="#" class="text-muted">
                        <i class="fas fa-eye"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Reporte de Mas Reservados</h3>
                  <a href="javascript:void(0);">Ver Reporte</a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Sales</th>
                    <th>More</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                      Some Product
                    </td>
                    <td>$13 USD</td>
                    <td>
                      <small class="text-success mr-1">
                        <i class="fas fa-arrow-up"></i>
                        12%
                      </small>
                      12,000 Sold
                    </td>
                    <td>
                      <a href="#" class="text-muted">
                        <i class="fas fa-search"></i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->

            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Reporte de Mejor Calificados</h3>
                  <a href="javascript:void(0);">Ver Reporte</a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Sales</th>
                    <th>More</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                      Some Product
                    </td>
                    <td>$13 USD</td>
                    <td>
                      <small class="text-success mr-1">
                        <i class="fas fa-arrow-up"></i>
                        12%
                      </small>
                      12,000 Sold
                    </td>
                    <td>
                      <a href="#" class="text-muted">
                        <i class="fas fa-search"></i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    
{% endblock content %}
    